---
import Layout from "../layouts/default.astro";
import Button from "../components/ui/button.astro";
---

<Layout>
	<h1 class="text-3xl font-bold">Astro</h1>
	<Button size="sm">Test</Button>
</Layout>
