---

---

<nav class="hidden md:flex space-x-8">
	<a href="/posts" class="group relative inline-block text-gray-600 hover:text-gray-900" data-astro-prefetch>
	  Blog
	  <span class="absolute left-0 -bottom-0.5 h-0.5 w-0 bg-primary transition-all duration-300 group-hover:w-full"></span>
	</a>
	<a href="/about" class="group relative inline-block text-gray-600 hover:text-gray-900" data-astro-prefetch>
	  À propos
	  <span class="absolute left-0 -bottom-0.5 h-0.5 w-0 bg-primary transition-all duration-300 group-hover:w-full"></span>
	</a>
	<a href="/services" class="group relative inline-block text-gray-600 hover:text-gray-900" data-astro-prefetch>
	  Services
	  <span class="absolute left-0 -bottom-0.5 h-0.5 w-0 bg-primary transition-all duration-300 group-hover:w-full"></span>
	</a>
	<a href="/contact" class="group relative inline-block text-gray-600 hover:text-gray-900" data-astro-prefetch>
	  Contact
	  <span class="absolute left-0 -bottom-0.5 h-0.5 w-0 bg-primary transition-all duration-300 group-hover:w-full"></span>
	</a>
  </nav>
  